$font-set: 'Barlow Semi Condensed', sans-serif;

$font-weight-normal: 500;
$font-weight-bold: 600;

$font-size: 0.8125rem;
$font-size-heading: 1.2rem;

$primary-color-purple-50: hsl(260, 100%, 95%);
$primary-color-purple-300: hsl(264, 82%, 80%);
$primary-color-purple-500: hsl(263, 55%, 52%);

$neutral-color-white: hsl(0, 0%, 100%);
$neutral-color-grey-100: hsl(214, 17%, 92%);
$neutral-color-grey-200: hsl(0, 0%, 81%);
$neutral-color-grey-400: hsl(224, 10%, 45%);
$neutral-color-grey-500: hsl(217, 19%, 35%);
$neutral-color-black: hsl(0, 0%, 7%);
$neutral-color-dark-blue: hsl(219, 29%, 14%);