/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 2rem;
  background-color: hsl(0, 0%, 100%);
  font-family: "Barlow Semi Condensed", sans-serif;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding-top: 36px;
  padding-bottom: 36px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding: 1.8rem;
  background-color: hsl(263, 55%, 52%);
  border-radius: 6px;
  font-size: 0.8125rem;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  -webkit-box-shadow: 10px 10px 20px hsl(0, 0%, 81%), 20px 20px 40px hsl(0, 0%, 81%);
          box-shadow: 10px 10px 20px hsl(0, 0%, 81%), 20px 20px 40px hsl(0, 0%, 81%);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-box-shadow 0.3s ease;
  transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-box-shadow 0.3s ease;
  -o-transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), box-shadow 0.3s ease;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), box-shadow 0.3s ease;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), box-shadow 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-box-shadow 0.3s ease;
}

.card-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.card-profile > img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: hsl(0, 0%, 81%);
}

.card-name {
  font-weight: 600;
  color: hsl(214, 17%, 92%);
}

.text-bold {
  font-size: 1.2rem;
  color: hsl(214, 17%, 92%);
}

.text {
  color: hsl(0, 0%, 81%);
}

.card1 img {
  border: 2px solid hsl(264, 82%, 80%);
}

.card2 {
  background-color: hsl(217, 19%, 35%);
}

.card3,
.card5 {
  background-color: hsl(0, 0%, 100%);
}
.card3 .card-name,
.card3 .text-bold,
.card5 .card-name,
.card5 .text-bold {
  color: hsl(217, 19%, 35%);
}
.card3 .verification,
.card3 .text,
.card5 .verification,
.card5 .text {
  color: hsl(224, 10%, 45%);
}

.card4 {
  background-color: hsl(219, 29%, 14%);
}
.card4 img {
  border: 2px solid hsl(263, 55%, 52%);
}

.card5 {
  background-color: hsl(0, 0%, 100%);
  color: black;
}

::-moz-selection {
  background-color: hsl(264, 82%, 80%);
}

::selection {
  background-color: hsl(264, 82%, 80%);
}

.card:hover {
  -webkit-transform: translateY(-8px) scale(1.02);
      -ms-transform: translateY(-8px) scale(1.02);
          transform: translateY(-8px) scale(1.02);
}

@media (min-width: 948px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
  }
  .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 32px 1fr 32px 1fr 32px 1fr;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: auto 32px auto;
    grid-template-rows: repeat(2, auto);
    gap: 32px;
    max-width: 1100px;
  }
  .cards > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .cards > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .cards > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .cards > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  .cards > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .cards > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .cards > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .cards > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
  }
  .card1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    position: relative;
  }
  .card1 * {
    z-index: 1;
  }
  .card1::before {
    content: "";
    position: absolute;
    top: 0;
    right: 12%;
    width: 120px;
    height: 120px;
    z-index: 0;
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: none;
    background-size: contain;
    pointer-events: none;
    -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
    transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
    -o-transition: transform 0.4s ease, opacity 0.4s ease;
    transition: transform 0.4s ease, opacity 0.4s ease;
    transition: transform 0.4s ease, opacity 0.4s ease, -webkit-transform 0.4s ease;
  }
  .card2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .card3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .card4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/span 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .card5 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}